body {
    background-image: url('../Images/b_PICTURE-Wardrobe-with-sliding-doors-Novamobili-291943-rel8f663421.jpg');
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


navbar-nav{
    background-color: black;
}
#AccessoriesIndex{
    background-color: dimgrey;
}
#header1{
    text-align:center;
    color:black;
}
